flask==2.2.5
gunicorn==20.1.0
numpy==1.24.4
pandas==1.5.3
pillow==9.5.0

torch==2.0.1+cpu
torchvision==0.15.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

huggingface_hub==0.23.0
setuptools==68.0.0
